* {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 50px;
}

.main a {
  text-decoration: none;
  color: #6f6f6f;
}

.main h4 {
  font-weight: 700;
}

.main .input-group .form-control,
.main .input-group .input-group-text {
  border-radius: 15px;
}

.main .department {
  padding-bottom: 30px;
}

.main .department a {
  line-height: 2.5em;
}

.main .department a:hover {
  color: #f55253;
  transition: 0.2s;
}

.main .color .list-color ul,
.main .color .list-color li {
  color: red;
}

.main .size .card-tag a {
  font-size: 16px;
  background: #f5f5f5;
  display: inline-block;
  padding: 7px 26px 5px;
  margin-right: 6px;
  margin-bottom: 10px;
}

.main .news .card-news .content-card-news {
  margin-left: 10px;
}

.main .news .card-news .content-card-news h6 {
  font-weight: 700;
}

.main .news .card-news .content-card-news p {
  font-size: 13px;
  color: #6f6f6f;
}

.main .swiper {
  cursor: pointer;
}

.main .swiper .card-slide {
  position: relative;
}

.main .swiper .card-slide .sale {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  padding: 8px;
  background-color: #dd2222;
  color: #fff;
}

.main .swiper .card-slide .content-swiper i {
  text-decoration: line-through;
  color: #6f6f6f;
  margin-left: 30px;
  font-size: 12px;
}

.main .swiper .card-slide .content-swiper label {
  color: #b2b2b2;
  font-size: 13px;
}

.main .swiper .card-slide .content-swiper span {
  font-size: 18px;
}

@media all and (max-width: 800px) {
  .list-product .product .card-product {
    width: 45%;
  }

  .list-product .product .card-product img {
    width: 100%;
  }

  .card-slide {
    width: 50%;
    text-align: center;
  }

  .card-slide img {
    width: 100%;
  }

  .card-slide .sale {
    font-size: 10px !important;
  }

}